[submodule "juno"]
	path = juno
	url = https://github.com/GrupaPracuj/juno.git
[submodule "analyzers/skidblandir"]
	path = analyzers/skidblandir
	url = https://github.com/GrupaPracuj/GP.Skidblandir.git
