[submodule "juno"]
	path = submodules/juno
	url = https://github.com/GrupaPracuj/juno.git
[submodule "skidblandir"]
	path = submodules/skidblandir
	url = https://github.com/GrupaPracuj/GP.Skidblandir.git
